GEMINI_API_KEY=""
LIBSQL_VECTOR_URL="file:vector-local.db"
LIBSQL_URL="file:data.db"
RESEND_API_KEY=""
STRIPE_PUBLISHABLE_KEY=""
STRIPE_SECRET_KEY=""
SC_AUTH_SECRET_ACCESS_TOKEN=""
SC_AUTH_SECRET_REFRESH_TOKEN=""
SC_AUTH_SECRET_FORGOT_PASSWORD_TOKEN=""
SC_AUTH_SECRET_CONFIRM_EMAIL_TOKEN=""
