# Node
node_modules/
npm-debug.log
yarn-error.log

# Entornos
.env
.env.*
!.env.example

# Producción
/dist
/build

# Docker
*.local
*.pid
*.seed
*.log

# Bases de datos locales
data.db
vector-local.db

# Archivos del sistema
.DS_Store
Thumbs.db

# Otros
/storage/
